USE [master]
GO
/****** Object:  Database [Склад]    Script Date: 25.02.2025 17:29:55 ******/
CREATE DATABASE [Склад]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Склад', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Склад.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Склад_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Склад_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Склад].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Склад]
GO
/****** Object:  Table [dbo].[Инвентаризация]    Script Date: 25.02.2025 17:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Инвентаризация](
	[id_Инвентаризации] [int] NOT NULL,
	[Дата проведения] [date] NULL,
	[Ответственный] [nvarchar](50) NULL,
	[id_Склада] [int] NULL,
 CONSTRAINT [PK_Инвентаризация] PRIMARY KEY CLUSTERED 
(
	[id_Инвентаризации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 25.02.2025 17:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[id_Клиента] [int] NOT NULL,
	[Название] [nvarchar](50) NULL,
	[Телефон] [char](11) NULL,
	[Адрес] [nvarchar](50) NULL,
	[e-mail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[id_Клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставщики]    Script Date: 25.02.2025 17:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщики](
	[id_Поставщика] [int] NOT NULL,
	[Название] [nvarchar](50) NULL,
	[ИНН/КПП] [int] NULL,
	[Телефон] [char](11) NULL,
	[e-mail] [nvarchar](50) NULL,
	[Адрес] [nvarchar](50) NULL,
 CONSTRAINT [PK_Поставщики] PRIMARY KEY CLUSTERED 
(
	[id_Поставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Приходные накладные]    Script Date: 25.02.2025 17:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Приходные накладные](
	[id_Приходные] [int] NOT NULL,
	[Дата поступления] [date] NULL,
	[id_Поставщика] [int] NULL,
	[id_Товара] [int] NULL,
	[Общая сумма] [money] NULL,
 CONSTRAINT [PK_Приходные накладные] PRIMARY KEY CLUSTERED 
(
	[id_Приходные] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Расходные накладные]    Script Date: 25.02.2025 17:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расходные накладные](
	[id_Расходной] [int] NOT NULL,
	[Дата отгрузки] [date] NULL,
	[id_Клиента] [int] NULL,
	[id_Товара] [int] NULL,
	[Общая сумма] [money] NULL,
 CONSTRAINT [PK_Расходные накладные] PRIMARY KEY CLUSTERED 
(
	[id_Расходной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Склады]    Script Date: 25.02.2025 17:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склады](
	[id_Склада] [int] NOT NULL,
	[Название] [nvarchar](50) NULL,
	[Адрес] [nvarchar](50) NULL,
	[Тип] [nvarchar](50) NULL,
	[Зона хранения] [nvarchar](50) NULL,
 CONSTRAINT [PK_Склады] PRIMARY KEY CLUSTERED 
(
	[id_Склада] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар]    Script Date: 25.02.2025 17:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар](
	[id_Товара] [int] NOT NULL,
	[Название] [nvarchar](50) NULL,
	[Артикул] [int] NULL,
	[Штрихкод] [binary](50) NULL,
	[Категория] [nvarchar](50) NULL,
	[Единица измерения] [int] NULL,
	[Цена за единицу] [money] NULL,
	[Серийный номер] [int] NULL,
	[Минимальный остаток] [int] NULL,
	[id_Склада] [int] NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[id_Товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Инвентаризация]  WITH CHECK ADD  CONSTRAINT [FK_Инвентаризация_Склады] FOREIGN KEY([id_Склада])
REFERENCES [dbo].[Склады] ([id_Склада])
GO
ALTER TABLE [dbo].[Инвентаризация] CHECK CONSTRAINT [FK_Инвентаризация_Склады]
GO
ALTER TABLE [dbo].[Приходные накладные]  WITH CHECK ADD  CONSTRAINT [FK_Приходные накладные_Поставщики] FOREIGN KEY([id_Поставщика])
REFERENCES [dbo].[Поставщики] ([id_Поставщика])
GO
ALTER TABLE [dbo].[Приходные накладные] CHECK CONSTRAINT [FK_Приходные накладные_Поставщики]
GO
ALTER TABLE [dbo].[Приходные накладные]  WITH CHECK ADD  CONSTRAINT [FK_Приходные накладные_Товар] FOREIGN KEY([id_Товара])
REFERENCES [dbo].[Товар] ([id_Товара])
GO
ALTER TABLE [dbo].[Приходные накладные] CHECK CONSTRAINT [FK_Приходные накладные_Товар]
GO
ALTER TABLE [dbo].[Расходные накладные]  WITH CHECK ADD  CONSTRAINT [FK_Расходные накладные_Клиенты] FOREIGN KEY([id_Клиента])
REFERENCES [dbo].[Клиенты] ([id_Клиента])
GO
ALTER TABLE [dbo].[Расходные накладные] CHECK CONSTRAINT [FK_Расходные накладные_Клиенты]
GO
ALTER TABLE [dbo].[Расходные накладные]  WITH CHECK ADD  CONSTRAINT [FK_Расходные накладные_Товар1] FOREIGN KEY([id_Товара])
REFERENCES [dbo].[Товар] ([id_Товара])
GO
ALTER TABLE [dbo].[Расходные накладные] CHECK CONSTRAINT [FK_Расходные накладные_Товар1]
GO
ALTER TABLE [dbo].[Товар]  WITH CHECK ADD  CONSTRAINT [FK_Товар_Склады] FOREIGN KEY([id_Склада])
REFERENCES [dbo].[Склады] ([id_Склада])
GO
ALTER TABLE [dbo].[Товар] CHECK CONSTRAINT [FK_Товар_Склады]
GO
USE [master]
GO
